<Files ~ "\.(htaccess|htpasswd)$">

deny from all

</Files>

 

RewriteEngine on

RewriteCond %{THE_REQUEST} ^.*/index.html

RewriteRule ^(.*)index.html$ http://2015.suiranfes.com/$1 [R=301,L]
